{% import 'macros/cards.twig' as cards %}

{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}
		<div class="row">
			<main class="blog">
				{{ page.content }}

				{% set taxType = "category" %}
				{% set taxlist = taxonomylist.get() %}
				{% if taxlist %}
					<ul class="posts">
    				{% for tax,value in taxlist[taxType] %}
    					{% set title = tax|title %}
    					{% set url = base_url ~ '/' ~ taxType ~ config.system.param_sep ~ tax|e('url') %}
    					{% set posts = taxonomy.findTaxonomy({'category': tax})|randomize %}

    					{% set thumbUrl = theme_url ~ '/images/logo-thumb.jpg' %}
    					{% if posts|first.media.images %}
    						{% set thumbUrl = posts|first.media.images|first.cropZoom(500,350).url %}
    					{% endif %}

    					<li>
    						<a class="post" href="{{ url }}" title="{{ title }}">
									<img src="{{ thumbUrl }}" alt="{{ post.title }}" class="feature-image" />
									<div class="title">{{ title|truncate(20) }}</div>
									<div class="count">{{ posts.count }} {{ 'post'|pluralize(posts.count) }}</div>
								</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</main>

			<section class="sidebar">
				{% include 'partials/sidebar.html.twig' %}
			</section>
		</div>

		{% include 'partials/footer.html.twig' %}
	{% endblock content %}
{% endembed %}