{% set feed_url = blog.url == '/' or blog.url == base_url_relative ? (base_url_relative~'/'~blog.slug) : blog.url %}

<header class="header">
	
		<nav class="top-bar" data-topbar role="navigation">
			<ul class="title-area">
				<li class="name"></li>
				 <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
				<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			</ul>

			<section class="top-bar-section">
				<ul class="left hide-for-small">
					{% for network, url in site.social %}
						<li><a href="{{ url }}"><span class="fi-social-{{ network }}"></span></a></li>
					{% endfor %}
					{% if config.plugins.feed.enabled %}
						<li><a href="{{ feed_url }}.rss"><span class="fi-rss"></span></a></li>
					{% endif %}
				</ul>

				<ul class="right">
					{% for page in pages.children.visible %}
						{% set pageClass = (page.active or page.activeChild) ? 'active' : '' %}

						<li class="{{ pageClass }}"><a href="{{ page.url }}">
							{% if page.header.icon %}<i class="fi-{{ page.header.icon }}"></i>{% endif %}
							{{ page.menu }}</a>
						</li>
					{% endfor %}
					<li class="networks sticky show-for-small">
						{% for network, url in site.social %}
							<span class="network {{ network }}"><a href="{{ url }}"><span class="fi-social-{{ network }}"></span></a></span>
						{% endfor %}
						{% if config.plugins.feed.enabled %}
							<span class="network rss"><a href="{{ feed_url }}.rss"><span class="fi-rss"></span></a></span>
						{% endif %}
					</li>

				</ul>
			</section>
		</nav>
	

	<a class="logo" href="{{ base_url }}" data-interchange="[{{ url('theme://images/dots.jpg') }}, (default)], [{{ url('theme://images/dots@2x.jpg') }}, (retina)]">
		<img data-interchange="[{{ url('theme://images/logo-left.png') }}, (default)], [{{ url('theme://images/logo-left@2x.png') }}, (retina)]" />
	</a>

	
</header>

<div class="row">
	<div class="ad landscape"></div>
</div>