{% set taxlist = taxonomylist.get() %}
{% set taxplural = taxtype|pluralize(2) %}

{% if taxlist %}
	<h4 class="title">Popular {{ taxplural|capitalize }}</h4>
	<div class="{{ taxtype|pluralize(2) }}">
		{% for tax,value in taxlist[taxtype]|slice(0,10) %}	
			<a class="boxed-link" href="{{ uri.rootUrl }}/posts/category{{config.system.param_sep }}{{ tax|e('url')	 }}"><span>{{ tax|upper }}</span></a>
		{% endfor %}
	</div>

	<p><a href="{{ uri.rootUrl }}/{{ taxplural }}?site=all">View all {{ taxplural }}…</a></p>
{% endif %}