{% macro postcard(post, fallbackImageUrl) %}
	<a class="post" href="{{ post.url }}" title="{{ post.title }}">
		<img src="{% if post.media.images %}{{ post.media.images|first.cropZoom(500,350).url }}{% else %}{{ fallbackImageUrl }}{% endif %}" alt="{{ post.title }}" class="feature-image" />
		<div class="title">{{ post.title|truncate(20) }}</div>
	</a>
{% endmacro %}